<a name='1'></a>
# 1. Integer(int)
is a whole number, positive or negative, without decimals, of unlimited length.

In [1]:
#Numeric Type
age = 45
print(type(age))

<class 'int'>

In [2]:
x = -2
print(x)
print(type(x))

-2
<class 'int'>

In [3]:
#Setting the Specific Data Type
x = int(20)
print(type(x))

<class 'int'>

<a name='1'></a>
# 2. Float
is a number, positive or negative, containing one or more decimals.

In [4]:
#Numeric Type
salary = 145.8
print(type(salary))

<class 'float'>

In [5]:
x = -3.5
print(x)
print(type(x))

-3.5
<class 'float'>

<a name='1'></a>
# Type Conversion
You can convert from one type to another with the int() and float() methods:

Also Called 'Casting'

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

In [6]:
x = 1    # int
y = 2.8  # float


#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

print(a)
print(b)


print(type(a))
print(type(b))

1.0
2
<class 'float'>
<class 'int'>

<a name='1'></a>
# 3. String
Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [7]:
#Text Type
name = "Heba Raslan"
print(type(name))

<class 'str'>

In [8]:
#Setting the Specific Data Type
name = str("Heba Raslan")
print(type(name))

<class 'str'>

In [9]:
#Quotes Inside Quotes
print("It's alright")

It's alright

In [10]:
#Multiline Strings => 3 double quotes or single quotes
s = """My name is Heba Raslan.
I'm a fresh graduate 
from faculty of computer science."""
print(s)

My name is Heba Raslan.
I'm a fresh graduate
from faculty of computer science.

*Python does not have a character data type, a single character is simply a string with a length of 1.*

In [11]:
#Strings are Arrays
name = "Heba Raslan"
print(name[5])

R

In [12]:
#String Length
print(len(name))

11

In [13]:
#Slicing
name = "Heba Raslan"
print(name[5:8]) # 8 not included

Ras

In [14]:
#Slice From the Start
print(name[:4]) # 4 not included

Heba

In [15]:
#Slice To the End
print(name[5:])

Raslan

In [16]:
#Negative Indexing
# n = -1
print(name[-6:-1]) # -1 not included
print(name[-6:])

Rasla
Raslan

In [25]:
#String Concatenation
first = "Heba"
last = "Raslan"
fullName = first +" "+ last
print(fullName)

Heba Raslan

we can combine strings and numbers by using f-strings or the format() method!

In [26]:
#F-Strings
age = 15
txt = f"My name is Heba Raslan, I am {age} years old"
print(txt)

My name is Heba Raslan, I am 15 years old

In [29]:
#Escape Character
name = "\'Heba Raslan\'"
print(name)

'Heba Raslan'

<a name='1'></a>
# 4. If else
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [95]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [96]:
#Elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [98]:
#Else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [99]:
#Nested If
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

<a name='1'></a>
# 5. For loop

In [17]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [103]:
#Looping Through a list
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [104]:
#Break Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [105]:
#Continue Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [108]:
#The range() Function
for x in range(6): # start from 0, 6 not included
  print(x)

0
1
2
3
4
5

In [110]:
for x in range(2, 6):# start from 2, 6 not included
  print(x)

2
3
4
5

In [113]:
for x in range(2, 11, 3):# start from 2, 11 not included, increment with 3
  print(x)

2
5
8

<a name='1'></a>
# 6. While loop

In [100]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [101]:
#The break Statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [102]:
#The continue Statement
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

<a name='1'></a>
# 7. List
List items are:
Ordered(order will not change, order will not change) 
Changeable(add, and remove item)
and allow duplicate values.

In [67]:
#Sequence Type
fruits = ["apple", "apple", "banana", "cherry"]
print(fruits)
print(type(fruits))
print(f"length = {len(fruits)}")
print(fruits[3])
print(fruits[-1]) #Negative Indexing
print(fruits[2:4]) # 4 not included

fruits[1:3] = ["blackcurrant", "watermelon"]
print(fruits)

fruits.insert(2, "banana")
print(fruits)

fruits.append("orange")
print(fruits)

tropical = ["mango", "pineapple", "papaya"]
fruits.extend(tropical)
print(fruits)

fruits.remove("orange")
print(fruits)

#Remove Specified Index
fruits.pop(1)
print(fruits)

del fruits[0]
print(fruits)

#delete the list completely
del fruits

#fruits.clear()

['apple', 'apple', 'banana', 'cherry']
<class 'list'>
length = 4
cherry
cherry
['banana', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'cherry']
['apple', 'blackcurrant', 'banana', 'watermelon', 'cherry']
['apple', 'blackcurrant', 'banana', 'watermelon', 'cherry', 'orange']
['apple', 'blackcurrant', 'banana', 'watermelon', 'cherry', 'orange', 'mango', 'pineapple', 'papaya']
['apple', 'blackcurrant', 'banana', 'watermelon', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'watermelon', 'cherry', 'mango', 'pineapple', 'papaya']
['banana', 'watermelon', 'cherry', 'mango', 'pineapple', 'papaya']

In [42]:
#Setting the Specific Data Type
fruits = list(("apple", "apple", "banana", "cherry"))
print(type(fruits))

<class 'list'>

In [41]:
#List items can be of any data type:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [48]:
#A list can contain different data types:
listt = ["abc", 34, True, 40, "male"]

In [69]:
#Loop Through a List
fruits = list(("apple", "apple", "banana", "cherry"))
for f in fruits:
  print(f)

apple
apple
banana
cherry

In [73]:
#Sort List Alphanumerically
#Ascending
fruits = list(("cherry","apple","banana", "apple"))
fruits.sort()
print(fruits)
#Descending
fruits.sort(reverse=True)
print(fruits)

['apple', 'apple', 'banana', 'cherry']
['cherry', 'banana', 'apple', 'apple']

In [75]:
#Sort the list numerically
#Ascending
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
#Descending
thislist.sort(reverse=True)
print(thislist)

[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

In [76]:
joinLists = fruits + thislist
print(joinLists)

['cherry', 'banana', 'apple', 'apple', 100, 82, 65, 50, 23]

<a name='1'></a>
# 8. Set
A set is a collection which is unordered, unchangeable*, and unindexed.
and do not allow duplicate values.

In [43]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [44]:
#Setting the Specific Data Type
x = set(("apple", "banana", "cherry"))
print(type(x))

<class 'set'>

In [91]:
x = {"apple", "banana", "cherry"}
for a in x:
  print(a)

cherry
apple
banana

In [94]:
#Add Items
x = {"apple", "banana", "cherry"}
x.add("orange")
print(x)
x.remove("orange")
print(x)

{'cherry', 'orange', 'apple', 'banana'}
{'cherry', 'apple', 'banana'}

<a name='1'></a>
# 9. Tuple
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuples are written with round brackets.

In [84]:
#Sequence Type
x = ("apple", "banana", "cherry")
print(type(x))
print(f"length = {len(x)}")

print(x[1])
print(x[1:3]) # 3 not included

<class 'tuple'>
length = 3
banana
('banana', 'cherry')

In [46]:
#Setting the Specific Data Type
x = tuple(("apple", "banana", "cherry"))
print(type(x))

<class 'tuple'>

In [78]:
#Tuple items can be of any data type
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [79]:
#A tuple can contain different data types
tuplee = ("abc", 34, True, 40, "male")

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [85]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [86]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [87]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [89]:
#Loop Through a Tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

<a name='1'></a>
# 10. Functions
In Python a function is defined using the def keyword

In [117]:
def my_function(fname, lname):
      print(f"Hello my name is {fname} {lname}")

#Calling a Function
my_function("Heba", "Raslan")

Hello my name is Heba Raslan

In [118]:
#Default Parameter
def my_function(fname="HEBA", lname="RASLAN"):
      print(f"Hello my name is {fname} {lname}")

#Calling a Function
my_function()

Hello my name is HEBA RASLAN

In [121]:
#Passing a List as an Argument
def my_function(food):
      for x in food:
            print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry