any technique in pandas

In [22]:
%pip install dask[dataframe]

Requirement already satisfied: dask[dataframe] in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (2024.9.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: click>=8.1 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from dask[dataframe]) (8.1.7)
Requirement already satisfied: cloudpickle>=3.0.0 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from dask[dataframe]) (3.0.0)
Requirement already satisfied: fsspec>=2021.09.0 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from dask[dataframe]) (2024.9.0)
Requirement already satisfied: packaging>=20.0 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from dask[dataframe]) (24.1)
Requirement already satisfied: partd>=1.4.0 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from dask[dataframe]) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from dask[dataframe]) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from dask[dataframe]) (0.12.1)
Requirement already satisfied: importlib-metadata>=4.13.0 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from dask[dataframe]) (8.5.0)
Requirement already satisfied: pandas>=2.0 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from dask[dataframe]) (2.2.3)
Requirement already satisfied: dask-expr<1.2,>=1.1 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from dask[dataframe]) (1.1.14)
Requirement already satisfied: colorama in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from click>=8.1->dask[dataframe]) (0.4.6)
Requirement already satisfied: pyarrow>=14.0.1 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from dask-expr<1.2,>=1.1->dask[dataframe]) (17.0.0)
Requirement already satisfied: zipp>=3.20 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from importlib-metadata>=4.13.0->dask[dataframe]) (3.20.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from pandas>=2.0->dask[dataframe]) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from pandas>=2.0->dask[dataframe]) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from pandas>=2.0->dask[dataframe]) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from pandas>=2.0->dask[dataframe]) (2024.1)
Requirement already satisfied: locket in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from partd>=1.4.0->dask[dataframe]) (1.0.0)
Requirement already satisfied: six>=1.5 in c:\users\laptop\anaconda3\envs\headway\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2.0->dask[dataframe]) (1.16.0)

In [23]:
import dask
print(dask.__version__)

2024.9.0

In [24]:
import dask.dataframe as dd
import pandas as pd

In [25]:
df = dd.read_csv('titanic.csv')

In [26]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Perform Operations on Dask DataFrame

1. Calculate the Mean Age

In [34]:
mean_age = df['Age'].mean()
print(mean_age.compute())

29.69911764705882

2. Count the Number of Passengers by Gender

In [28]:
gender_count = df.groupby('Sex')['PassengerId'].count()
print(gender_count.compute())

Sex
female    314
male      577
Name: PassengerId, dtype: int64

### Missing values

In [29]:
missing_data = df.isnull().sum()
print(missing_data.compute())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Handling Missing Data

In [30]:
# Fill missing age with the median value
median_age = df['Age'].median().compute()
ddf_filled = df.fillna({'Age': median_age})

# Verify if there are any more missing values
missing_data = ddf_filled.isnull().sum().compute()
print(missing_data)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Drop Rows with Missing Values

In [35]:
# Drop rows with any missing values
ddf_cleaned = df.dropna()

# Check the new shape of the DataFrame
print(ddf_cleaned.shape)

(<dask_expr.expr.Scalar: expr=DropnaFrame(frame=ReadCSV(9cb1d1b)).size() // 12, dtype=int64>, 12)

### Filtering

In [32]:
# Find all passengers who survived
survivors = df[df['Survived'] == 1]
print(survivors.head())

   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C